In [1]:
from keras.models import load_model
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
import pymongo

Using TensorFlow backend.

In [2]:
# loading model
model = load_model('./models/keras_model.h5')

In [3]:
# preparing data

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["crypto_db"]


iota_data = pd.DataFrame(list(mydb['IOTA'].find()))
iota_data.head()

iota = iota_data[iota_data['Close Time'] > '2019-03-01 00:00:00.000'][['Close']]
iota['Close'] = iota['Close'].astype(float)

scaler = MinMaxScaler(feature_range=(0,1))
iota['Close'] = scaler.fit_transform(iota['Close'].values.reshape(-1, 1))

for i in range(-1, -31, -1):
    column_name = f'Close_{i*-1}'
    iota[column_name] = iota['Close'].shift(i)
    
iota.dropna(inplace=True)

iota.head()

,Close,Close_1,Close_2,Close_3,Close_4,Close_5,Close_6,Close_7,Close_8,Close_9,...,Close_21,Close_22,Close_23,Close_24,Close_25,Close_26,Close_27,Close_28,Close_29,Close_30
392498,0.208129,0.208129,0.207682,0.209915,0.207235,0.208129,0.209022,0.209022,0.209022,0.209915,...,0.206789,0.206789,0.207235,0.207682,0.207682,0.207682,0.209468,0.209468,0.209022,0.209022
392499,0.208129,0.207682,0.209915,0.207235,0.208129,0.209022,0.209022,0.209022,0.209915,0.207682,...,0.206789,0.207235,0.207682,0.207682,0.207682,0.209468,0.209468,0.209022,0.209022,0.209468
392500,0.207682,0.209915,0.207235,0.208129,0.209022,0.209022,0.209022,0.209915,0.207682,0.208575,...,0.207235,0.207682,0.207682,0.207682,0.209468,0.209468,0.209022,0.209022,0.209468,0.211255
392501,0.209915,0.207235,0.208129,0.209022,0.209022,0.209022,0.209915,0.207682,0.208575,0.208575,...,0.207682,0.207682,0.207682,0.209468,0.209468,0.209022,0.209022,0.209468,0.211255,0.211255
392502,0.207235,0.208129,0.209022,0.209022,0.209022,0.209915,0.207682,0.208575,0.208575,0.208575,...,0.207682,0.207682,0.209468,0.209468,0.209022,0.209022,0.209468,0.211255,0.211255,0.207682

In [4]:
iota[-720:].columns

Index(['Close', 'Close_1', 'Close_2', 'Close_3', 'Close_4', 'Close_5',
       'Close_6', 'Close_7', 'Close_8', 'Close_9', 'Close_10', 'Close_11',
       'Close_12', 'Close_13', 'Close_14', 'Close_15', 'Close_16', 'Close_17',
       'Close_18', 'Close_19', 'Close_20', 'Close_21', 'Close_22', 'Close_23',
       'Close_24', 'Close_25', 'Close_26', 'Close_27', 'Close_28', 'Close_29',
       'Close_30'],
      dtype='object')

In [5]:
ex = iota.iloc[-1, :-1].values

In [6]:
ex

array([0.61456001, 0.61366687, 0.61366687, 0.61366687, 0.61322017,
       0.61500671, 0.61500671, 0.61500671, 0.61500671, 0.61366687,
       0.61411344, 0.61411344, 0.61366687, 0.61500671, 0.61411344,
       0.61411344, 0.6127736 , 0.61456001, 0.61411344, 0.61500671,
       0.61500671, 0.61634655, 0.61366687, 0.61768653, 0.61723982,
       0.61723982, 0.61456001, 0.61456001, 0.61589998, 0.61366687])

In [7]:
pred = model.predict(ex.reshape(1, 1, ex.shape[0]))

In [13]:
scaler.inverse_transform(pred)

array([[0.37882623]], dtype=float32)

In [8]:
ex.shape

(30,)

In [9]:
len(iota[-720:])

720

In [10]:
iota[-720:].tail()

,Close,Close_1,Close_2,Close_3,Close_4,Close_5,Close_6,Close_7,Close_8,Close_9,...,Close_21,Close_22,Close_23,Close_24,Close_25,Close_26,Close_27,Close_28,Close_29,Close_30
514634,0.613667,0.616793,0.616793,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,...,0.614560,0.614113,0.615007,0.615007,0.616347,0.613667,0.617687,0.61724,0.617240,0.614560
514635,0.616793,0.616793,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,...,0.614113,0.615007,0.615007,0.616347,0.613667,0.617687,0.617240,0.61724,0.614560,0.614560
514636,0.616793,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,0.615007,...,0.615007,0.615007,0.616347,0.613667,0.617687,0.617240,0.617240,0.61456,0.614560,0.615900
514637,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,0.615007,0.615007,...,0.615007,0.616347,0.613667,0.617687,0.617240,0.617240,0.614560,0.61456,0.615900,0.613667
514638,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,0.615007,0.615007,0.613667,...,0.616347,0.613667,0.617687,0.617240,0.617240,0.614560,0.614560,0.61590,0.613667,0.613667

In [11]:
iota.tail()

,Close,Close_1,Close_2,Close_3,Close_4,Close_5,Close_6,Close_7,Close_8,Close_9,...,Close_21,Close_22,Close_23,Close_24,Close_25,Close_26,Close_27,Close_28,Close_29,Close_30
514634,0.613667,0.616793,0.616793,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,...,0.614560,0.614113,0.615007,0.615007,0.616347,0.613667,0.617687,0.61724,0.617240,0.614560
514635,0.616793,0.616793,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,...,0.614113,0.615007,0.615007,0.616347,0.613667,0.617687,0.617240,0.61724,0.614560,0.614560
514636,0.616793,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,0.615007,...,0.615007,0.615007,0.616347,0.613667,0.617687,0.617240,0.617240,0.61456,0.614560,0.615900
514637,0.611880,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,0.615007,0.615007,...,0.615007,0.616347,0.613667,0.617687,0.617240,0.617240,0.614560,0.61456,0.615900,0.613667
514638,0.614560,0.613667,0.613667,0.613667,0.613220,0.615007,0.615007,0.615007,0.615007,0.613667,...,0.616347,0.613667,0.617687,0.617240,0.617240,0.614560,0.614560,0.61590,0.613667,0.613667